.permalink {
	text-decoration: none;
	color: #444444;
	padding-top: 0.2em;
	font-weight: lighter;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("/blog/feed.png") no-repeat 0 50%;
}

.closing {
	font-size: 0.7em;
	border-top: 1px solid grey;
	margin-top: 1em;
}

.time {
	display: block;
	font-weight:100;
	color:#888888;
	font-size:0.8em;
	margin: 0;
}

.entry {
	padding: 0.5em 1em;
	text-align: left;
	border-left: 0.5em solid rgba(0, 0, 0, 0);
	transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in;
}

.entry:hover {
	border-color: black;
}

.post {
	padding: 1em 20%;
	text-align: left;
	line-height: 150%;
}

.entry h2, .post h2 {
	margin: 0;
	font-size: 2.8em;
	line-height: 1.2;
}

.post h3 {
	margin: 0;
	margin-top: 1em;
	font-size: 1.8em;
	line-height: 1.2;
}

.post h4 {
	margin: 0;
	margin-top: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
}

.post strong { font-weight: 800; }
.post em { font-style: italic; }

.post img {
	border: 1px solid #CCCCCC;
	max-width: 80%;
	height: auto;
	max-height: 30em;
	display: block;
	text-align: center;
	margin: 1em auto;
}

.post video {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.post iframe {
	display: block;
	margin: 0 auto;
}

.post :not(pre) > code { /* inline code blocks */
	padding: 0 0.3em;
	display: inline-block;
	font-family: monospace;
	border: 1px solid #eeeeee;
	border-radius: 0.3em;
	color: #555555;
}

.highlight { /* formatted and unformatted code blocks */
	margin: 1em 3em;
	display: block;
	font-family: monospace;
	overflow: auto;
	line-height: 150%;
	border: 1px solid grey;
	border-radius: 0.3em;
	background: #272822;
}
:not(.highlight) > pre { /* unformatted code blocks */
	color: #dddddd;
	padding: 0.3em 0.5em;
}
.highlight > pre { /* formatted code blocks */
	display: inline-block;
	vertical-align: bottom; /* get rid of the space below the table */
	padding: 0.3em 0.5em;
}
.highlight .gutter {
	padding: 0.3em 0.4em 0.3em 0.5em;
	user-select: none; -webkit-user-select: none; -moz-user-select: none;
	color: #555555;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}
.post table tr th, .post table tr td {
	padding: 0.4em 1em;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
.post table th:first-child, .post table td:first-child { border-left: none; }
.post table tr:first-child th, .post table tr:first-child td { border-top: none !important; }
.post table thead th { border-bottom: 3px double #dddddd; border-bottom-style: double; }
.post table tr:first-child { padding: 1em; }

@media only screen and (max-width: 900px) {
	.post {
		padding-left: 0;
		padding-right: 0;
	}
}

@media print {
	.post {
		padding-left: 0;
		padding-right: 0;
	}
}
