.permalink {
	text-decoration: none;
	color: #444444;
	padding-top: 0.2em;
	font-weight: lighter;
}

.closing {
	font-size: 0.7em;
	border-top: 1px solid grey;
	margin-top: 1em;
}

.time {
	display: block;
	font-weight:100;
	color:#888888;
	font-size:0.8em;
	margin: 0;
}

.entry {
	padding: 0.5em 1em;
	text-align: left;
	border-left: 0.5em solid rgba(0, 0, 0, 0);
	transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in;
}

.entry:hover {
	border-color: black;
}

.post {
	padding: 1em 20%;
	text-align: left;
	line-height: 150%;
}

.entry h2, .post h2 {
	margin: 0;
	font-size: 2.8em;
	line-height: 1.2;
}

.post h3 {
	margin: 0;
	margin-top: 1em;
	font-size: 1.8em;
	line-height: 1.2;
}

.post h4 {
	margin: 0;
	margin-top: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
}

.post strong { font-weight: bold; }

.post img {
	border: 1px solid #CCCCCC;
	max-width: 80%;
	height: auto;
	max-height: 30em;
	display: block;
	text-align: center;
	margin: 1em auto;
}

.post video, .post iframe {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.post table {
	margin: 0 auto;
	border-collapse: collapse;
}

.post tr:first-child th { border-top: none; }

.post tr:last-child td { border-bottom: none; }

.post td, th {
	padding: 0.5em;
	margin: 0;
	border: 1px solid #CCCCCC;
}

.post td:first-child, th:first-child { border-left: none; }

.post td:last-child, th:last-child { border-right: none; }
