#logo {
	margin-top: 2em;
	width: 20em;
	border-radius: 50%;
	transition: all 0.6s ease; -webkit-transition: all 0.6s ease;
}

#logo:hover {
	transform: rotate(360deg); -webkit-transform: rotate(360deg);
}

.large_title {
	font-size: 5em;
	margin-bottom: 0.1em;
	line-height: 90%;
	transition: all 0.6s ease; -webkit-transition: all 0.6s ease;
}

p {
	display: inline-block;
	margin: 1em 0;
	font-size: 1.4em;
	max-width: 23em;
}

@media screen and (max-width: 680px) {
	#logo {
		margin-top: 0;
		width: 15em;
	}

	.large_title {
		font-size: 3em;
	}
}
