#logo {
	margin-bottom: -2em;
	width: 23em;
}

.large_title {
	font-size: 5em;
	margin-bottom: -0.1em;
	line-height: 90%;
}

p {
	display: inline-block;
	margin: 1em 0;
	font-size: 1.4em;
	max-width: 23em;
}

@media screen and (max-width: 650px) {
	#logo {
		width: 18em;
		margin-bottom: -1em;
	}

	.large_title {
		font-size: 3em;
	}
}
